body{
    padding: 0%;
    margin: 0px;
    background-color:#0a0a0a;
    color: white;
    font-family: 'Oswald', sans-serif;

}
a{
    color:rgb(0, 255, 242);
    text-decoration: none;  
    font-family: 'Oswald', sans-serif;   
}
a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

header{
    text-align: center;
    margin-top: 30px;

    padding: 0;
}
section{
    margin-top: 30px;
    text-align: center;
    
}

footer{
    text-align: center;
    
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 0.01px;
    width: 50px;
}
header a{
    margin-left: 50px;
    margin-right: 50px;
}

button{
    background-color: #0a0a0a;
    color: white;
    margin: 20px;
    border-color: rgb(0, 255, 242);
}
button:hover{
    background-color: #0a0a0a;
    color: white;
    margin: 20px;
    border-color: white;
}
